/* css reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.anotacoes {
    display: flex;
    width: 90%; 
    height: 90%;
    background-color: aliceblue;
}

#anotacoes-docs {
    display: block;
    margin: 0 auto;
	width: 700px;
    height: 1200px;
    justify-content: center;
}