/* css reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#anotacoes-docs {
    display: block;
    margin: 0 auto;
	width: 80%;
    height: 600px;
    justify-content: center;
    margin-top: 50px;
    
}